:root {
  /* Vue App */
  --primary: #F1452B;
  --secondary: #FEBD21;
  --light: #ffffff;
  --dark: #363636;
  --success: #3caf57;
  --success-dark: #349e59;
  --warning: #cf4a02;
  --danger: #cf0d0d;

  /* Overload vue-carousel stuff */
  --vc-clr-primary: var(--primary) !important;
  --vc-clr-secondary: #090f207f !important;
  --vc-clr-white: var(--light) !important;
  --vc-icn-width: 1.2em !important;
  --vc-nav-width: 30px !important;
  --vc-nav-height: 30px !important;
  --vc-nav-border-radius: 25px !important;
  --vc-nav-color: var(--vc-clr-primary) !important;
  --vc-nav-color-hover: var(--vc-clr-secondary) !important;
  --vc-nav-background: var(--vc-clr-white) !important;
  --vc-pgn-width: 12px !important;
  --vc-pgn-height: 4px !important;
  --vc-pgn-margin: 4px !important;
  --vc-pgn-border-radius: 0 !important;
  --vc-pgn-background-color: var(--vc-clr-secondary) !important;
  --vc-pgn-active-color: var(--vc-clr-primary) !important;
}

/* Overload vue-toastification stuff */
.Vue-Toastification__toast {
  /* background-color: var(--secondary) !important; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px var(--success-dark) !important;
  border-radius: 25px !important;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: normal;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Code for Firefox */
::-moz-selection {
  color: var(--light);
  background: var(--primary);
}

::selection {
  color: var(--light);
  background: var(--primary);
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Ubuntu", "Roboto", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}