@import './base.css';

/* * {
    box-shadow: 0 0 0 3px red;
} */

/* DESKTOP */
@media (min-width: 1024px) {
    main {
        margin: 1rem 4rem;
        padding: 1rem 4rem;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        margin: 1rem 2rem;
        padding: 1rem 3rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    main {
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

section {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
}

h2.page-title {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

h2.page-title::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    background: var(--secondary);
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    animation-name: pop;
    animation-duration: 0.5s;
}

@keyframes pop {
    from {
        opacity: 0;
        transform: scale(0.5);
        rotate: 180deg;
    }

    20% {
        opacity: 0.5;
        transform: scale(1.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
        rotate: 0;
    }
}

h3.section-title {
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
}

h3.section-title:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 25px;
    background: var(--secondary);
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    margin-top: 0.25rem;
    animation-name: grownFromLeft;
    animation-duration: 0.5s;
}

@keyframes grownFromLeft {
    from {
        width: 10px;
    }

    to {
        width: 100px;
    }
}

img.page-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem 0;
}

p.page-text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

span.pill {
    background: var(--secondary);
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    color: var(--light);
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 25px;
}

a.button,
button.button {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: "Ubuntu", "Roboto", sans-serif;
    transition: all 0.3s;
}

.button {
    background: var(--secondary);
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    color: var(--light);
    border: none;
}

.button:hover {
    scale: 1.05;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

input[type="search"] {
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: "Ubuntu", "Roboto", sans-serif;
}

input:focus,
textarea:focus {
    outline: none !important;
}

.icon-offset {
    position: relative;
    top: 2px;
    right: 5px;
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.gradient {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.icon-gradient {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

a.link,
span.link {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    cursor: pointer;
}

a.link:hover,
span.link:hover {
    text-decoration: underline;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}

ul.fancy-list>li::before {
    content: "•";
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}